<style>
	#post-media {
		margin-bottom: -21px;
	}
	.panel-body {
		width: 100%;
	}
</style>


<div class="panel panel-default" id="post-media">
				<div class="panel-body">
				
					<div class="media">
						<div class="media-left">
							<img src="/user.png" width="54px" height="54px">
						</div>
						<div class="media-body">
							<div class="media-heading">
								
							</div>
							
							<%= simple_form_for @newPost do |f| %>
						  		<%= f.input :content, label: false , placeholder: "What's on your mind?", class: "form-control" %>
						  		<%= f.button :submit, label: "Add Post", class: "btn btn-primary", style: "float: right;" %>
						  	
							<% end %>
						</div> 
					</div> 
				
				</div>			
			</div>


