
<div class="container">
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-heading" style=".panel-heading: padding: 0px;">
				<img src="/bike.jpg" width="226px" height="160px" style="padding: 0px; overflow: hidden;">
			</div>
			<div class="panel-body">
				<p>profile info goes here</p>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>about</p>
			</div>
			<div class="panel-body">
				<p>other link info goes here</p>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<%= render '/components/post_form' %> <br>
		
		
			
			<div class="panel panel-default" id="post-media">
				<div class="panel-body" id="post-divide">
				<% for @p in @posts %>
					<div class="media">
						<div class="media-left">
							<img src="/user.png" width="64px" height="64px">
						</div>
						<div class="media-body">
							<div class="media-heading">
								<h4><%= User.find(@p.user_id).username %> -<span class="post-time"> Created <%= time_ago_in_words(@p.created_at) %> ago</span> </h4>
							</div>
							<p><%= @p.content %></p>
							<div class="col-xs-12" id="gicons">
								<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
								<span id="convo"> <a href="#">View conversation</a> </span>
							</div>
						</div> 
					</div> <hr>
				<%end%>
				</div>			
			</div>
		
		
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>About Help Blog Jobs Terms Privacy Cookies Ads Info Brand Advertise</p>
			</div>
		</div>
	</div>
<!-- 2nd row begins -->
</div>