

<div class="col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>status</p>
		</div>
		<div class="panel-body">
			<p>profile info goes here</p>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>feed</p>
		</div>
		<div class="panel-body">
			<p>page feed info goes here</p>
		</div>
	</div>
</div>
<div class="col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>links</p>
		</div>
		<div class="panel-body">
			<p>other link info goes here</p>
		</div>
	</div>
</div>
<!-- 2nd row begins -->
<div class="col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>about</p>
		</div>
		<div class="panel-body">
			<p>other link info goes here</p>
		</div>
	</div>
</div>