<div class="col-xs-12">
	<div class="jumbotron"><%= @username %></div>
</div>

<div class="col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>profile</p>
		</div>
		<div class="panel-body">
			<p>profile info goes here</p>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>tweets</p>
		</div>
		<div class="panel-body">
			<p>page feed info goes here</p>
		</div>
	</div>
</div>
<div class="col-xs-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>who to follow</p>
		</div>
		<div class="panel-body">
			<p>other link info goes here</p>
		</div>
	</div>
</div>
<!-- 2nd row begins -->
<div class="col-xs-3 col-xs-offset-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>about</p>
		</div>
		<div class="panel-body">
			<p>other link info goes here</p>
		</div>
	</div>
</div>